<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/css/content/login.css"> -->
</th:block>

<th:block layout:fragment="contentFragment">
  <div class="row mt-3">
    <div class="col">
      <div onclick="join()">회원가입</div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h4>추천 콘텐츠</h4>
      <div class="row">
        산책(지도 API 연결)
        <div id="map" style="width:400px; height:200px;"></div>
        <div id="clickLatlng"></div>
      </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h4>게시판 콘텐츠</h4>
    </div>
  </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/content/index/main.js"></script>
</th:block>

</html>