<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 추천 - 정보 관련 (담당: 이송민) -->
<mapper namespace="informationMapper">
    <resultMap id="infoCategory" type="com.dangsya.BanLyeoIn.information.vo.InfoCategoryVO">
        <id     column="INFO_TYPE"          property="infoType"/>
        <result column="INFO_TYPE_NAME"     property="infoTypeName"/>
    </resultMap>

    <resultMap id="info" type="com.dangsya.BanLyeoIn.information.vo.InfoVO">
        <id column="INFO_NUM"           property="infoNum"/>
        <result column="INFO_TITLE"     property="infoTitle"/>
        <result column="INFO_CONTENT"   property="infoContent"/>
        <result column="WRITER"         property="writer"/>
        <result column="CREATE_DATE"    property="createDate"/>
        <result column="READ_CNT"       property="readCnt"/>
        <result column="INFO_TYPE"      property="infoType"/>
    </resultMap>




</mapper>































