<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="placeMapper">
    <resultMap id="place" type="com.dangsya.BanLyeoIn.place.vo.PlaceVO">
        <id     column="PLACE_NUM"        property="placeNum"/>
        <result column="PLACE_NAME"       property="placeName"/>
        <result column="LATITUDE"         property="latitude"/>
        <result column="LONGITUDE"        property="longitude"/>
        <result column="ADDRESS"          property="address"/>
    </resultMap>
</mapper>































