<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 추천 관련 (담당: 이송민) -->
<mapper namespace="recommendMapper">
    <resultMap id="recommend" type="com.dangsya.BanLyeoIn.recommend.vo.RecommendVO">
        <id     column="recType"        property="REG_TYPE"/>
        <result column="recTypeName"    property="REG_TYPE_NAME"/>
    </resultMap>

</mapper>































